.team {
    @extend .container;
    position: relative;

    min-height: 100vh;
    margin: 0 100px;
    padding: 0;

    background-color: $darker;
    
    &:before {
        @extend .stylish-line;

        top: 20px;
        z-index: 1;
    }

    > .title {
        position: relative;
        z-index: 2;

        margin-bottom: 40px;

        text-align: center;
        color: $white_50;
        font-size: 2.5rem;
        font-family: $nunito;
        
        &:before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;

            display: block;
            width: 180px;
            height: 50px;

            background: $darker;
            content: ""
        }
    }
}